<h1>Cadastro de Usuário</h1>

{{#erro}}
    <p style="color:red;">Erro: {{erro}}<p>
{{/erro}}

<form action="/users/register" method="post">
    <input minlength="3" type="text" name="nome" placeholder="Nome">
    <input style="display: block;" type="email" name="email" placeholder="Email">
    <input minlength="3" style="display: block;" type="text" name="cpf" placeholder="CPF">
    <input minlength="3" style="display: block;" type="text" name="telefone" placeholder="Telefone">
    <div>
        <input minlength="3" type="password" name="senha" placeholder="Senha">
        <input minlength="3" type="password" name="confirmacao_senha" placeholder="Confirmação de Senha">
    </div>
    <input minlength="3" type="text" name="cnh" placeholder="CNH (se for motorista)">
    <input type="submit" value="Continuar">
</form>
